body{
    background-color: black;
}

p.texto1{
color:darkslateblue ;
font-family : Arial, Helvetica, sans-serif; 
}
p.texto2{
    color:darkslateblue ;
    font-family : Arial, Helvetica, sans-serif; 
    }
    p.texto3{
        color:darkslateblue ;
        font-family : Arial, Helvetica, sans-serif; 
        }
        p.texto4{
            color:darkslateblue ;
            font-family : Arial, Helvetica, sans-serif; 
            }
            p.texto5{
                color:darkslateblue ;
                font-family : Arial, Helvetica, sans-serif; 
                }
                p.texto6{
                    color:darkslateblue ;
                    font-family : Arial, Helvetica, sans-serif; 
                    }
                    p.texto7{
                        color:darkslateblue ;
                        font-family : Arial, Helvetica, sans-serif; 
                        }
                        p.texto8{
                            color:darkslateblue ;
                            font-family : Arial, Helvetica, sans-serif; 
                            }
                            p.texto9{
                                color:darkslateblue ;
                                font-family : Arial, Helvetica, sans-serif; 
                                }
                                p.texto0{
                                    color:darkslateblue ;
                                    font-family : Arial, Helvetica, sans-serif; 
                                    }